name: Autograding Tests
'on':
- push
- workflow_dispatch
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: test test
      id: test-test
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: test test
        setup-command: make
        command: "./lab0"
        input: Amunzle
        expected-output: Welcome to CS112 and C++, Amunzle!
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST-TEST_RESULTS: "${{steps.test-test.outputs.result}}"
      with:
        runners: test-test
